@import 'vars_mixins';

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    @include title($is_form_title: 'true');
}

.log-sign-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: 300px;
    background-color: $organization-color;
    border-radius: 20px;
    padding: 5px 20px;
    min-width: 300px;

    .username, .email, .password{
        @include login_signin_fields;
    }

    .submit{
        margin-top: 20px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        background-color: $organization-color;
        border: 1.5px solid white;
        color: white;
        font-size: 17px;
        cursor: pointer;

        &:hover{
            opacity: 80%;
        }

        &:active{
            opacity: 70%;
        }
    }
    .pass-forget{
        margin: 10px 0px;
        white-space: nowrap;
        font-size: 17px;
        border: none;
        cursor: pointer;
        color: white;
        background-color: $alert-color;
        padding: 6px 9px;
        border-radius: 15px;
        border: 1px solid white;
        &:hover{
            opacity: 90%;
        }
    }
}

.signin-link{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: $organization-color;
    text-decoration: none;
}