:root{
    --organization-color: #0c5c1cc7;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Vazirmatn, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex-row{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.justify-align-center{
    justify-content: center;
    align-items: center;
}

body, html{
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    height: 64px;
    font-weight: normal;
    z-index: 100;
}

.entries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.cats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.8;
}

.topic{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.topic:hover{
    opacity: 85%;
    transform: scale(1.2);
}
.topic span{
    margin-right: 3px;
    padding-top: 3px;
    min-width: 150px;
}
.topic img{
    height: 30px;
    padding-bottom: 1px;
}

.shop-title{
    color: var(--organization-color);
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    white-space: nowrap;
    margin-left: 50px;
}

.login{
    margin-right: 20px;
}

.login button{
    background-color: var(--organization-color);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
    font-family: Vazirmatn, Arial, Helvetica, sans-serif;
}

.login button:hover{
    border: 2px var(--organization-color) solid;
    opacity: 90%;
}

.navbar{
    margin: 0px;
    background-color: white;
    width: 50%;
    height: 100%;
    position: fixed;
    right: -100%;
    transition: all 1s;
}

.navbar span{
    white-space: nowrap;
}

.nav-item{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-item:hover{
    transform: scale(1.2);
}

.nav-item span{
    margin-right: 10px;
    font-size: 14px;
}


#ham-menu-checkbox{
    display: none;
}

.ham-menu{
    font-size: 30px;
    margin-left: 20px;
}

#ham-menu-checkbox:checked ~ .navbar{
    right: 0;
}

@media only screen and (max-width:1350px){
    .cats{
        display: none;
    }
}

@media only screen and (min-width:1351px){
    .ham-menu{
        display: none;
    }
    .navbar{
        display: none !important;
    }
}